<!--Search bar-->
<nav class="navbar bg-light d-flex justify-content-center align-items-center fixed-top">
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<br>

<!--Each employee information-->
<div id="companySummary">
    <br>
    <br>

    {{#each employee}}
    <div class='row d-flex justify-content-center align-items-center'>
        <br><br><br><br><br><br><br><br><br><br>
        <img class="col-12" src="../images/company_employeeSum.jpg" style="max-width:150px; border-radius: 50%;">
        <h1 class="text-center" id={{@index}} data-id="{{@index}}"> Name: {{alias}} {{employee_id}}</h1>
        <div class='d-flex justify-content-center align-items-center'>
            <div class='row'>
                <div class="column col-6">
                    <a href=""> <i class="fa-solid fa-calendar-days fa-xl"></i></a>
                    {{!-- http://localhost:8000/biz/worker/{{employee_id}}/calendar --}}
                </div>
                <div class="column col-6">
                    <a href=""> <i class="fa-solid fa-user-pen fa-xl"></i></a>
                    {{!-- http://localhost:8000/biz//worker/{{employee_id}}/info --}}
                </div>
            </div>
        </div>
        <br> <br>
    </div>
    {{/each}}
</div>

<script type='text/javascript' rel='js/handlebars-v4.0.5.js' src="../company_summary.js"></script>